fastapi==0.118.0
fastapi-cli==0.0.13
fastapi-cloud-cli==0.3.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
urllib3==2.5.0
uvicorn==0.37.0
redis
python-dotenv==1.1.1
PyJWT==2.10.1
pydantic==2.8.0
